<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="/css/style.css">
    <title>Document</title>
</head>
<body>
    Hello World
    <form id= "goShop" class="h5" method="POST" onsubmit="goShop()">
        Room ID: <br> <input type="text" name="fId" value="tai2.ho-VCB:0571000029741" style="width:50%"><br>
        Yout Shopee link: <br> <input type="text" name="fLink" value="https://shopeefood.vn/da-nang/com-tam-an-11-bau-hat-6" style="width:50%"><br>
        <button type="submit" class="button button1">Go Shopping</button>
    </form>

    <script>
        function goShop(){
            let user = document.getElementsByName("fId")[0].value;
            let link = document.getElementsByName("fLink")[0].value;
            link = link.slice(link.indexOf('shopeefood.vn/') + 13);
            var action_src = "/shopping?roomId=" + user + "&link=" +link;
           var your_form = document.getElementById('goShop');
           console.log('POST to ', action_src);
           your_form.action = action_src ;
        }
    </script>
</body>
</html>