<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="/css/style.css">
    <title>Document</title>
    <!-- <style>
        .content1 {
          color: maroon;
          margin-left: 40px;
        }
    </style> -->
</head>
<body onload="myFunction()">
    <div class="content1"> 
    TESTI1NG...
    </div>
    <div id="ID1"> 
    ID...
    </div>
    <!-- <%- include('guest') %> -->
    <%- data %>

    <script>
        function myFunction() {
            alert("Page is loaded");
            return;
            // Menu group
            let elemGroups = document.querySelectorAll('.menu-group');
            alert('Found:' + elemGroups.length);
            let mTop = 50;
            for (const [i, value] of elemGroups.entries()) {
                let offSetTop = value.style.top.slice(0, value.style.top.length - 2);
                console.log('i', i, 'value:', value, 'top:', offSetTop);
                if ( i == 0) mTop = offSetTop;
                value.style.top = `${offSetTop - mTop}px`
                // value.style.cssText = 
                //   `opacity : 0.5;
                //   top : 
                //   left : 50px;
                //   position : absolute`;
            }
            // header page
            let eHeader  = document.querySelector("#restaurant-item > div > div");
            let offsetHeader = eHeader.style.height.slice(0, eHeader.style.height.length - 2);
            console.log('>>>', offsetHeader, ' - ', mTop);
            eHeader.style.height = `${offsetHeader - mTop}px`;
            // Menu
            let elemMenu  = document.querySelectorAll('div.item-restaurant-row');
            for (const [i, value] of elemMenu.entries()) {
                let offSetTop = value.style.top.slice(0, value.style.top.length - 2);
                value.style.top = `${offSetTop - mTop}px`;
            }
            /*
            // #restaurant-item > div > div > div:nth-child(2) > div > div.col.item-restaurant-info
            elemMenu  = document.querySelectorAll('div.col.item-restaurant-info');
            for (const [i, value] of elemMenu.entries()) {
                value.style.cssText = ` left: 90px; top: -5px; position: absolute`;
            }
            // #restaurant-item > div > div > div:nth-child(2) > div > div.col-auto.item-restaurant-more
            elemMenu  = document.querySelectorAll('div.col-auto.item-restaurant-more');
            for (const [i, value] of elemMenu.entries()) {
                value.style.cssText = ` left: 90px; top: 45px; position: absolute`;
            }
            // #restaurant-item > div > div > div:nth-child(12) > div > div.col-auto.item-restaurant-more > div > div.col-auto.product-price > div.old-price
            elemMenu  = document.querySelectorAll('div.old-price');
            for (const [i, value] of elemMenu.entries()) {
                let innerValue = value.innerHTML;
                value.innerHTML = `<strike>${innerValue}</strike>`;
                // value.style.color = 'red';
                // value.style.top = '-45px';
                // value.style.position = 'absolute';
            }
            // #restaurant-item > div > div > div:nth-child(12) > div > div.col-auto.item-restaurant-more > div > div.col-auto.product-price > div.current-price
            elemMenu  = document.querySelectorAll('div.current-price');
            for (const [i, value] of elemMenu.entries()) {
                value.style.color = 'green';
            }
            // col-auto adding-food-cart txt-right
            elemMenu  = document.querySelectorAll('div.col-auto.adding-food-cart.txt-right');
            for (const [i, value] of elemMenu.entries()) {
                value.style.cssText = `color: green; left: 350px; top: -25px; position: absolute`;
            }
            */
            let Id1 = document.getElementById("ID1");//.style.color = "red";
            document.getElementById("ID1").style.color = "red";
    }
    </script>
</body>
</html>